#info { 

    padding: 20px;
}

#left_form { 
    width:15%;
    float: left;
    padding: 20px;
}

#middle_form { 
	float: left;
    width:18%;
    padding: 10px;
}

#button { 
	width: 80%;
}

#field_form{

}
